@model List<Assignment_1.Models.CustomUser>
@{
    ViewData["Title"] = "Manage Users";
}

<h2>All users</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@(user.FirstName ?? "No")</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>
                        <form method="post" asp-action="ApproveContributor" asp-controller="Admin">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No pending contributors to approve.</p>
}
