@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding:50px">
    <h1 class="display-4">Comp4870 Assignment 1</h1>
    
    <div style="padding:20px">
        <h4>Thai Hoa Nguyen</h4>
        <h6>Individual attempt on project</h6>
        <h4>Ryan Jiang</h6>
        <h4>Amritpal Jhatu</h6>
    </div>

</div>
